 /* Customize the scrollbar */
 ::-webkit-scrollbar {
    width: 8px;
    /* Set the width of the scrollbar */
}

/* Customize the scrollbar track */
::-webkit-scrollbar-track {
    /* Set the color of the track */
    background: rgb(0, 8, 30);
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: rgb(1, 3, 145);
    /* Set the color of the thumb */
    border-radius: 8px;
    /* Round the corners of the thumb */
}

/* Customize the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background: #000220;
    /* Change thumb color on hover */
}

/* Customize the scrollbar button (top and bottom buttons) */
::-webkit-scrollbar-button {
    display: none;
    /* Hide the scroll buttons */
}
